[submodule "cli"]
	path = cli
	url = https://github.com/dos4boss/cli.git
[submodule "gsl-lite"]
	path = gsl-lite
	url = https://github.com/gsl-lite/gsl-lite.git
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog.git
